/* 
Tablet 768px
*/
@media screen and (min-width: 768px) {
    /* MAIN */
    /* Section use info */
    #use-info .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--gap-column);
    }

    #use-info .cards .card{
        width: calc(100% / 3 - var(--gap-column));
        margin-bottom: 0;
    }
    
    #use-info .cards .card:first-child{
        width: calc(100% / 3 * 2 - var(--gap-column) / 2);
    }

    #use-info .card .photo-wrapper img{
        width: 60%;
        margin: 0;
    }

    /* Section Testimonials */
    #testimonial .cards .card{
        display: flex;
        text-align: left;
    }

    #testimonial .cards .photo-card{
        margin: 0;
        margin-right: 2em;
    }

    #testimonial .card .text-card{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Section Benefits */
    #benefits .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--gap-column);
    }

    #benefits .cards .card{
        margin-top: 0;
        width: calc(100% / 2 - var(--gap-column) / 2);
    }

    /* Section About Us */
    #about-us .row{
        display: flex;
        align-items: flex-start;
    }

    #about-us .row .col{
        padding: 2em;
    }

    #about-us .col:first-child{
        width: 60%;
        margin-bottom: 0;
    }

    #about-us .col:last-child{
        width: 40%;
    }

    /* Section Get Started */
    #get-started .container{
        width: 60%;
    }

    #get-started .container p{
        width: 80%;
        margin: 0 auto 2em;
    }

    /* FOOTER */
    footer .container{
        width: 50%;
    }
}

/* 
Desktop 992px
*/
@media screen and (min-width: 992px) {
    /* COMMON */
    /* Layout */
    .container{
        width: 60%;
        max-width: 1100px;
    }

    /* HEADER */
    header .hamburger-menu{
        display: none;
    }

    header .main-menu{
        display: block;
    }

    header ul{
        list-style-type: none;
    }

    header ul li{
        display: inline-block;
        margin-left: 2rem;
    }

    /* MAIN */
    /* Section Use info */
    #use-info .cards .card:first-child{
        display: flex;
    }

    #use-info .cards .card:first-child .text-wrapper{
        width: 60%;
    }

    #use-info .cards .card:first-child .photo-wrapper{
        width: 40%;
    }

    #use-info .card .photo-wrapper{
        position: relative;
    }

    #use-info .card .photo-wrapper img{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    /* Section Strategic plan */
    #strategic-plan .container {
        width: 50%;
    }

    #strategic-plan .row{
        display: flex;
        align-items: flex-end;
    }

    #strategic-plan .row .col{
        width: 50%;
    }

    /* Section Benefits */
    #benefits .cards .card{
        width: calc(100% / 3 - (var(--gap-column) * 2 / 3));
    }

    /* Section Get Started */
    #get-started .container{
        width: 50%;
        max-width: 1000px;
    }

    #get-started .container h3{
        font-size: 2.5rem;
    }

    #get-started .container h2{
        font-size: 5rem;
    }


    #get-started .container p{
        width: 50%;
    }

    /* FOOTER */
    footer .container{
        width: 40%;
        max-width: 400px;
    }

}


/* 
Large Desktop 1200px
 */
@media screen and (min-width: 1200px) {

    /* MAIN */
    /* Section use info */
    #use-info .card .photo-wrapper img{
        max-width: 200px; 
    }
}