/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

li a{
    text-decoration: none;
    color: inherit;
}

/* Variables */
:root{
    /* Palette */
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --light-violet: #9792E4;
    --orange: #FDC15F;
    --grey: #333333;

    --white: #ffff;
    --black: #000000;

    /* Measurable */
    --gap-column: 1.5em;
    --section-gap: 3em;
}

/* Layout */
.container{
    width: 90%;
    margin: 0 auto;
}

/* Buttons */
.btn{
    text-decoration: none;
    padding: .5em 1em; 
    border-radius: 20px;
}

.btn.white{
    background-color: var(--white);
    color: var(--black);
}

.btn.blue{
    background-color: var(--blue);
    color: var(--white);
    padding: .5em 3em;
}

.btn.violet{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--light-violet);
}


/* HEADER */
header{
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

header .hamburger-menu{
    font-size: 1.5rem;
}

header .main-menu{
    display: none;
}

/* MAIN */

/* Section use info */
#use-info{
    padding-top: 7em;
    padding-bottom: var(--section-gap);
}

#use-info .cards .card{
    width: 100%;
    background-color: var(--light-blue);
    border-radius: 20px;
    margin-bottom: var(--gap-column);
    padding: 1.5em;
    text-align: center;
}

#use-info .cards .card:first-child{
    text-align: left;
    padding-bottom: 0;
}

#use-info .cards .card:last-child{
    margin-bottom: 0;
}

#use-info .card h3{
    font-size: 1.5rem;
    color: var(--blue);
}

#use-info .card .photo-wrapper{
    margin-top: 2em;
}

#use-info .card .photo-wrapper img{
    width: 80%;
    margin: 0 auto;
    max-width: 300px;
}

#use-info .card .icon-wrapper{
    color: var(--blue);
    margin-bottom: 1em;
}

.card .icon-wrapper i{
    font-size: 4rem;
    margin-bottom: 1rem;
}

#use-info .card p{
    margin-bottom: 1.5rem;
    color: var(--grey);
}

/* Section Strategic plan */
#strategic-plan{
    background-color: var(--light-violet);
    padding: var(--section-gap) 0;
}

#strategic-plan .row .col:first-child{
    color: var(--white);
}

#strategic-plan .row .col:first-child h3{
    font-size: 2.5rem;
    margin: 1.5em 0;
}

#strategic-plan .row .col:last-child{
    background-color: var(--white);
    margin-top: 2em;
    padding: 1em;
    border-radius: 50px;
    text-align: center;
}

#strategic-plan .row .col:last-child h3{
    margin: 1em 0;
}

#strategic-plan .row .col:last-child .btn{
    margin: 1.5em auto;
}


/* Section Testimonia */
#testimonial{
    padding: var(--section-gap) 0;
}

#testimonial .text-wrapper{
    text-align: center;
}

#testimonial .text-wrapper h3{
    font-size: 2.5rem;
    color: var(--light-violet);
    margin: 1em;
}

#testimonial .cards .card{
    background-color: var(--light-violet);
    margin-top: var(--gap-column);
    border-radius: 20px;
    padding: 1em;
    text-align: center;
    color: var(--white);
}

#testimonial .card .photo-card{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 1em;
    overflow: hidden;
    position: relative;
}

#testimonial .card .photo-card img{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) scale(1.5);
}

#testimonial .card .text-card h4{
    margin-top: 1em;
}


/* Section benefits */
#benefits{
    background-color: var(--light-violet);
    padding: var(--section-gap) 0;
}

#benefits .cards .card{
    background-color: var(--white);
    border-radius: 20px;
    margin-top: var(--gap-column);
    
    /* DEBUG */
    height: 100px;
}

/* Section About Us */
#about-us{
    background-color: var(--white);
    padding: var(--section-gap) 0;
}

#about-us .text-wrapper{

    /* DEBUG */
    height: 250px;
    border: 1px solid black;
}

#about-us .photo-wrapper{

    /* DEBUG */
    height: 150px;
    border: 1px solid black;
}

/* Section Get Started */
#get-started{
    background-color: var(--light-violet);
    color: var(--white);
    padding: var(--section-gap) 0;
}

#get-started .container{

    /* DEBUG */
    border: 1px solid black;
    height: 300px;
}

/* FOOTER */
footer{
    background-color: var(--grey);
    color: var(--white);
    padding: var(--section-gap) 0;
}

footer .container{
    text-align: center;
}