/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

/* Variables */
:root{
    /* Palette */
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --light-violet: #9792E4;
    --orange: #FDC15F;
    --grey: #333333;

    --white: #ffff;
    --black: #000000;

    /* Measurable */
    --gap-column: 1.5em;
    --section-gap: 3em;
}

/* Layout */
.container{
    width: 90%;
    margin: 0 auto;
}


/* HEADER */
header{
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

header .hamburger-menu{
    font-size: 1.5rem;
}

header .main-menu{
    display: none;
}

/* MAIN */

/* Section use info */
#use-info{
    padding-top: 7em;
    padding-bottom: var(--section-gap);
}

#use-info .cards .card{
    width: 100%;
    background-color: var(--light-blue);
    border-radius: 20px;
    margin-bottom: var(--gap-column);

    /* DEBUG */
    height: 200px;
    border: 1px solid black;
}

#use-info .cards .card:last-child{
    margin-bottom: 0;
}

/* Section Strategic plan */
#strategic-plan{
    background-color: var(--light-violet);
    padding: var(--section-gap) 0;
}

#strategic-plan .row .col{

    /* DEBUG */
    height: 250px;
    border: 1px solid black;
}

/* Section Testimonia */
#testimonial{
    padding: var(--section-gap) 0;
}

#testimonial .text-wrapper{
    /* DEBUG */
    height: 150px;
    border: 1px solid black;
}

#testimonial .cards .card{
    background-color: var(--light-violet);
    margin-top: var(--gap-column);
    border-radius: 20px;

    /* DEBUG */
    height: 150px;
    border: 1px solid black;
}

#testimonial .card .photo-card{

    /* DEBUG */
    height: 50px;
    border: 1px solid black;
}

#testimonial .card .text-card{

    /* DEBUG */
    height: 100px;
    border: 1px solid black;
}

/* Section benefits */
#benefits{
    background-color: var(--light-violet);
    padding: var(--section-gap) 0;
}

#benefits .cards .card{
    background-color: var(--white);
    border-radius: 20px;
    margin-top: var(--gap-column);
    
    /* DEBUG */
    height: 100px;
}

/* Section About Us */
#about-us{
    background-color: var(--white);
    padding: var(--section-gap) 0;
}

#about-us .text-wrapper{

    /* DEBUG */
    height: 250px;
    border: 1px solid black;
}

#about-us .photo-wrapper{

    /* DEBUG */
    height: 150px;
    border: 1px solid black;
}

/* Section Get Started */
#get-started{
    background-color: var(--light-violet);
    padding: var(--section-gap) 0;
}

#get-started .container{

    /* DEBUG */
    border: 1px solid black;
    height: 300px;
}